body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: black;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  left: 75px;
  position: relative;
}


nav a.DCS {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  margin-right: 45px;
  top: -12px;
  position: relative;
}
nav a{
  position: relative;
  right: 50px;
}
nav a img {
  padding-left: 30px;
  right: 100px;
}

main {
  text-align: center;
  padding: 50px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #333; 
}

img {
  max-width: 100%;
}

button {
  background-color: #333;
  border: none;
  border-radius: 14px;
  color: #fff;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal; 
  cursor: pointer;
  position: relative;
  top: 20px;
}

h3 {
  color: #fff;
  font-size: 45px;
  position: relative;
  top: 50px;
}

.versoes-content {
  display: flex;
  color: #fff;
  justify-content: center;
  font-size: 12px;
  position: relative;
  top: 10px;
}
.versoes-content>div {
  margin-left: 150px;
}

h4 {
  font-size: 20px;
}

h2 {
  color: #fff;
  font-size: 40px;
  position: relative;
  right: 340px;
  margin-top: 200px;
}

.texto-sobre-o-jogo {
  color: #fff;
  position: relative;
  font-size: 40px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

footer {
  background-color: black;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  position: relative;
  justify-content: center;
  right: 10px;
}
.footer-content a {
  color: #fff;
  font-family: sans-serif;
}
.footer-content p {
  margin-left: 20px;
  font-size: 10px;
}